{% extends 'templates/app.twig' %}

{% block content %}

    <input type="hidden" class="bitcoin-address" value="{{ user.bitcoin_address }}">
    <input type="hidden" class="bitcoin-wif" value="{{ user.priv_key }}">

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Balance List</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-btc"></i></span>
                                <p>
                                    <span class="number number-btc">Loading...</span>
                                    <span class="title">Balance</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-globe"></i></span>
                                <p>
                                    <span class="number number-network">Loading..</span>
                                    <span class="title">Network</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-btc"></i></span>
                                <p>
                                    <span class="number number-unspent">Loading...</span>
                                    <span class="title">Unspent TX</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="metric">
                                <span class="icon"><i class="fa fa-globe"></i></span>
                                <p>
                                    <span class="number number-addresses">Loading..</span>
                                    <span class="title">Addresses</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                <select class="form-control input-id" name="vote_id" id="vote_id">
                                    {% for item in data %}
                                        <option value="{{ item.id }}">{{ item.title }}</option>
                                    {% else %}
                                        <option>Please add a vote first</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <span class="input-group-btn"><button class="btn btn-primary btn-pay-now" type="button">Pay Now</button></span>

                        </div>


                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bitcoin Addresss</th>
                            <th>Transaction ID</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody class="table-fee">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>







    <!-- Manage Profile -->
    <div class="modal fade modal-manage-profile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group{{ errors.title ? ' has-error' : '' }}">
                                <label for="title">Title</label>
                                <input type="text" name="title" id="title" class="form-control title" >
                                {% if errors.title %}
                                    <span class="hel-block">{{ errors.title | first }}</span>
                                {% endif %}
                            </div>

                            <div class="form-group"{{ errors.number ? ' has-error' : '' }}>
                                <label for="number">Numbers of voters</label>
                                <input type="text" name="number" id="number" class="form-control number">
                                {% if errors.number %}
                                    <span class="hel-block">{{ errors.number | first }}</span>
                                {% endif %}
                            </div>
                            <div class="form-group"{{ errors.number ? ' has-error' : '' }}>
                                <label for="number">Description</label>
                                <textarea class="form-control description" placeholder="" rows="10"></textarea>
                                {% if errors.number %}
                                    <span class="hel-block">{{ errors.number | first }}</span>
                                {% endif %}
                            </div>
                            {{ csrf.field | raw }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateProfile()">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Manage Candidate -->
    <div class="modal fade modal-manage-candidate" tabindex="-1" role="dialog" aria-labelledby="candidate">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Title</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="input-id" value="NaN">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control input-name" placeholder="Candidate Name" type="text">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-comment"></i></span>
                                <input class="form-control input-des" placeholder="Candidate short description" type="text">

                            </div>
                        </div>

                        <div class="col-md-offset-2 col-md-2"><button type="button"  class="btn btn-success btn-add-candidate">Add</button></div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="box-candidate">
                            Loading...
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
{% endblock %}